.reaction-container{
  max-width:100%;
  margin:150px auto;
  padding:0 60px;
  position: relative;
}

.reaction-btn {
  font-weight: bold;
  color: #7f7f7f;
  position: relative;
  cursor: pointer;
  padding: 20px 20px 0 0;
}

.reaction-btn:hover {
  text-decoration: none;
}

.like-btn-default {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -277px -446px;
}

.reaction-btn-emo {
  display: inline-block;
  margin: 0 6px -3px 0;
  width: 16px;
  height: 16px;
}

.emojies-box {
  height: 44px;
  width: 286px;
  padding: 10px;
  position: absolute;
  top: -63px;
  left: -14px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 44px 44px;
  display: none;
}

.emoji {
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 8px;
  opacity: 0;
  transform: scale(1, 1);
  transition: opacity .5s ease-in-out 1s, transform .07s ease-in-out 0s, top .07s ease-in-out 0s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center
}

.reaction-btn:hover .emojies-box {
  display: block;
}

.emo-like {
  left: 10px;
  transition-delay: 0s;
  background-image: url('../images/reactions_like.png');
}

.emo-love {
  left: 56px;
  transition-delay: .05s;
  background-image: url('../images/reactions_love.png');
}

.emo-haha {
  left: 102px;
  transition-delay: .1s;
  background-image: url('../images/reactions_haha.png');
}

.emo-wow {
  left: 148px;
  transition-delay: .15s;
  background-image: url('../images/reactions_wow.png');
}

.emo-sad {
  left: 194px;
  transition-delay: .2s;
  background-image: url('../images/reactions_sad.png');
}

.emo-angry {
  left: 240px;
  transition-delay: .25s;
  background-image: url('../images/reactions_angry.png');
}



.reaction-btn:hover .emoji {
  opacity: 1;
  animation-name: reaction_delay;
  animation-duration: .5s;
}

@keyframes reaction_delay {
  0% {
    width: 36px;
    height: 36px;
    top: 44px;
  }
  48% {
    width: 42px;
    height: 42px;
    top: 5px;
  }	
  100% {
    width: 36px;
    height: 36px;
    top: 8px;
  }
}


.reaction-btn:hover .emo-like {
  animation-delay: 0s
}

.reaction-btn:hover .emo-love {
  animation-delay: .05s
}

.reaction-btn:hover .emo-haha {
  animation-delay: .1s
}

.reaction-btn:hover .emo-wow {
  animation-delay: .15s
}

.reaction-btn:hover .emo-sad {
  animation-delay: .2s
}

.reaction-btn:hover .emo-angry {
  animation-delay: .25s
}

.emoji:hover {
  transform: scale(1.3, 1.3);
  top: 2px
}



.emoji::before {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  font-size: .7em;
  width: 80%;
  height: 20px;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  position: absolute;
  top: -25px;
  opacity: 0;
  transition: opacity .2s ease-in-out 0s;
}

.emoji:hover::before {
  opacity: 1
}
.emo-like::before {
  content: 'Like'
}

.emo-love::before {
  content: 'Love'
}

.emo-haha::before {
  content: 'Haha'
}

.emo-wow::before {
  content: 'Wow'
}


.emo-sad::before {
  content: 'Sad'
}

.emo-angry::before {
  content: 'Angry'
}

.like-stat {
  margin-top: 10px;
}


.like-btn-like{
  background-image: url('../images/20/reactions_like.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px;
}

.like-btn-love{
  background-image: url('../images/20/reactions_love.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px;
}

.like-btn-haha{
  background-image: url('../images/20/reactions_haha.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px;
}

.like-btn-wow{
  background-image: url('../images/20/reactions_wow.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px;
}

.like-btn-sad{
  background-image: url('../images/20/reactions_sad.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px;
}

.like-btn-angry{
  background-image: url('../images/20/reactions_angry.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px;
}

.reaction-btn-text-like {
  color:rgb(88, 144, 255);
}
.reaction-btn-text-wow,.reaction-btn-text-haha,.reaction-btn-text-sad {
  color:rgb(240, 186, 21)
}
.reaction-btn-text-love{
  color:rgb(242, 82, 104)
}
.reaction-btn-text-angry{
  color:rgb(247, 113, 75);
}

.like-emo > span{
    display: inline-block;
    margin: 0 0px -6px 7px;
    width: 20px;
    height: 20px;
   /* border: 1px solid #EEE; */
    border-radius: 50%;
	padding-right:5px;

}

.like-details{
  margin-left:10px;
  color:#9197a3;
  font-size:12px;
}




.like-emo span::before {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  line-height: 17px;
  font-size: .7em;
  width: auto;
  padding:0px 10px;
  height: 17px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: opacity .2s ease-in-out 0s;
}
.like-emo span:hover::before {
opacity: 1;
}
.like-btn-like::before {
  content: var(--like-btn-count);
}
.like-btn-love::before {
  content: var(--love-btn-count);
}


.like-btn-haha::before {
  content: var(--haha-btn-count);
}

.like-btn-wow::before {
  content: var(--wow-btn-count);
}

.like-btn-sad::before {
  content: var(--sad-btn-count);
}

.like-btn-angry::before {
  content: var(--angry-btn-count);
}

@media only screen and (max-width:460px) {
	.emojies-box-cmt{left:-114px;}
	.emojies-box-cmt2{left:-68px;}
	/*.emojies-box-cmt{left:0;z-index:999999;overflow:scroll;height:250px;width:50px;} */
	
	/* .emojies-box-cmt .emoji{display:block;position:unset;}
	.emojies-box-cmt .emo-like{top:8px;}
	.emojies-box-cmt .emo-love{top:50px;left:10px;}
	.emojies-box-cmt .emo-wow{top:100px;left:10px;}
	.emojies-box-cmt .emo-haha{top:150px;left:10px;}
	.emojies-box-cmt .emo-sad{top:200px;left:10px;} */
}